
<html>
    <head>
        <title>
            Página Contador
        </title>
    </head>
    <body style="text-align: center;">
        <h1>Página Contador</h1>
        <h2>Servidor que processou a requesição: <%= maquina %></h2>
        <h2>Quantidade de requições realizadas: <%= acessos %></h2>
    </body>
</html>